<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIFA World Cup Finals</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/world_map.css">
  </head>
  <body>
    <div class="modal is-active" id="openingModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">FIFA World Cup Finals Sentiment Visualization</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body content">
          <h1 class="title is-4">About</h1>
          Geographic dispersion of tweets by sentiment for the world cup finals between France and Croatia, one tweet at a time. Push 'Play' to see tweets streaming or click on timeline for a snapshot
          <h1 class="title is-4">Motivation/Intent</h1>
          To understand the sentiment of the world on a more broader level through the social media landscape, particularly twitter.
          <h1 class="title is-4">Data collected</h1>
          10,000 posts were randomly sampled from the twitter stream of "#WorldCupFinal" on July 14-15, 2018. All Neutral posts in the 10,000 posts sample were removed as well.
        </section>
      </div>
    </div>

    <section class="hero is-fullheight">
      <div class="hero-head">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-8">
              <h1 class="title">FIFA World Cup Finals Sentiment</h1>
              <h3 class="subtitle">
                <div>
                Mayank Vachher
                </div>
                <div>
                  <a href="mailto:mayankv0207@gmail.com">mayankv0207@gmail.com</a>
                </div>
              </h3>
            </div>
            <div class="column" id="legend_container">
              <svg id="legend" class="is-pulled-right" height="100"></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-body">
        <div class="container is-fluid">
          <div class="columns is-vcentered">
            <div class="column is-1 has-text-centered">
              <button class="button is-info" id="launch_modal">Info</button>
              <button class="button is-normal" id="play-button">Play</button>
            </div>
            <div class="column" id="slider_container">
              <svg id="slider"></svg>
            </div>
          </div>

          <div class="columns">
              <div class="column" id="globe_container">
                <div class="has-text-centered">
                  <h1 class="title" id="country_loc"></h1>
                  <h2 class="subtitle" id="tod"></h2>
                </div>
                <svg height="600" id="globe" class="fill"></svg>
              </div>
              <div class="column">
                  <div id="flat_container">
                    <svg height="400" id="flat" class="fill"></svg>
                  </div>
                  <div>
                    <div id="tweet"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider@0.2.1/build/d3-simple-slider.js"></script>
    <script type="text/javascript" src="/js/tooltip.js"></script>
    <script type="text/javascript" src="/js/world_map_flat.js"></script>
  </body>
</html>
